<h1>To Do</h1>

<p>Here are all your tasks:</p>

<ul>
  <% @tasks_permanent_array.each() do |task| %>

    <li><%= task.description() %>  -  <%= task.due_date() %></li>
  <% end %>
</ul>


<form action="/tasks" method="post">
  <div class="form-group"><br>
  <h4>Create a new task:</h4>
  <label for="description">Task Description</label>
  <input id="description" name="description" type="text" class="form-control">

  <label for="due_date">Due Date</label>
  <input id="due_date" name="due_date" type="date" class="form-control">

  <button type="submit" class="btn btn-primary">Add task</button>
</div>
</form>
<form action="/remove" method="post">
  <br>
  <h4>Delete a Task</h4>
  <label for="remove">Exact Task name to remove <i>(case insensitive)</i></label>
  <input id="remove" name="remove" type="text" class="form-control">

  <button type="submit" class="btn btn-danger">Remove task</button>
</form>

<form action="/update" method="post">
  <br>
  <h4>Update a Task</h4>
  <label for="update_name">Exact Task Name to Update <i>(case insensitive)</i></label>
  <input id="update_name" name="update_name" type="text" class="form-control">

  <label for="update_date">Enter New Date</label>
  <input id="update_date" name="update_date" type="date" class="form-control">

  <button type="submit" class="btn btn-warning">Update task</button>
</form>

<form action="/clear" method="post">
  <br>
  <h4>Delete all Tasks</h4>
  <button type="submit" class="btn btn-danger">Delete All</button>
</form>
