<h1>To Do</h1>

<p>Here are all your tasks:</p>

<ul>
  <% @tasks.each() do |task| %>

    <li><%= task.description() %>  -  <%= task.due_date() %></li>
  <% end %>
</ul>

<p>Create a new task:</p>

<form action="/tasks" method="post">
  <label for="description">Task Description</label>
  <input id="description" name="description" type="text">

  <label for="due_date">Due Date</label>
  <input id="due_date" name="due_date" type="date">

  <button type="submit">Add task</button>
</form>
